:root {
  font-family: "Merriweather", serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fdf0d5;
}

/* Fiery Ocean Theme*/
/* deep-red 780000
red c1121f
beige fdf0d5
dark-deep-blue 003049
blue-grey 669bbc */